[pylint]
disable=
    broad-except,
    broad-exception-raised,
    consider-using-f-string,
    consider-using-generator,
    deprecated-module,
    f-string-without-interpolation,
    import-error,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-return,
    no-member,
    raise-missing-from,
    redefined-outer-name,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-statements,
    undefined-variable,
    unidiomatic-typecheck,
    unused-import,
    unused-variable,
    useless-return,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
